`    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotate(15deg);
    opacity: .1;
    background-image: url('https://ac.blooket.com/dashboard/65a43218fd1cabe52bdf1cda34613e9e.png');
    background-size: 550px;
    width: 200%;
    height: 200%;````body{
    background-color:black;
    color: white;
    margin-left: 500px;
    margin-right: 567px
}
pre{
    font-family: "Cabin", serif;
    font-weight: 700;
    font-style: normal;
  }
  h1{
font-family: "Roboto", serif;
font-weight: 600;
font-style: normal;
  }
  h3{
    font-family: "Roboto", serif;
    font-weight: 500;
    font-style: italic;
  }
  #og{
    font-family: "Roboto", serif;
    font-weight: 450;
    font-style: italic
  }
```